<div class="box">
    <p>App Component</p>
    <br>
    <hr>
    <button type="button">Click Me</button>
    <br>
    <br>
    <div class="row">
        <app-app-child></app-app-child>
        <app-app-child2></app-app-child2>
    </div>
</div>
<!-- <h1>{{title}}</h1> -->
<br>
<br>
<!-- <div class="dropdown">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-toggle="dropdown">Dropdown link</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div> -->
  <button type="button" class="btn btn-primary">Submit</button>